
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenitore_icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 500px;
    margin: 30px;
    padding: 20px;
    border: 1px solid black;
}

.icona_appesa {
    width: 150px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name {
    margin-top: 15px;
}

.selettore {
    text-align: center;
    margin: 20px;


}

#selezione_icone {
    background-color: orange;
    padding: 10px;
    font-size: 20px;
    border: 2px solid red;

}
